 name: Verify Summary Stats for Subset2 
 url: https://nhanes.hms.harvard.edu/transmart/login/forceAuth
 authmethod: PUB
 username: 
 password: 
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: 
 subset2: \demographics\SEX\female
 relational:
 success: patientcountsubset2
 successvalue: 21210
 expected: pass
