 name: Verify Summary Stats / Search by Sub/ Graphs
 url: https://nhanes.hms.harvard.edu/transmart/login/forceAuth
 authmethod: PUB
 username: 
 password: 
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\male\
 subset3: 
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 searchTerm: Vitamin
 expectedSearchResult: Found 15 results. 