 name: Verify Search by Subject term having special characters
 url: https://nhanes.hms.harvard.edu/transmart/login/forceAuth
 authmethod: PUB
 type: BasicStatisticsTestPlan
 success: patientcountsubset1
 searchTermSpec1: Insulin:
 searchTermSpec2: Nitrate, water
 searchTermSpec3: 1,1,2-Trich
 searchTermSpec3: industry_ 