 name: grdr patient count
 url: https://grdr-dev.hms.harvard.edu/transmart/login/auth
 authmethod: HMS
 username: 
 password: 
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \Intracranial Hypertension Registry\1 Socio-demographic data\Race?\
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 945
 expected: fail
