 name: Verify Search by Subject term Error/info Messages
 url: https://nhanes.hms.harvard.edu/transmart/login/forceAuth
 authmethod: PUB
 type: BasicStatisticsTestPlan
 success: patientcountsubset1
 searchTerm1: Vim
 searchTermSpec2: Nitrate, water
 searchTermSpec3: 1,1,2-Trich
 searchTermSpec3: industry_ 