 name: Verify Summary Stats for Multiple Subset1 (AND) Condition
 url: https://54.224.84.131/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\RACE\white
 subsetmul1: \demographics\SEX\female
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 8197
 expected: pass 
