 name: Verify Summary Stats for Subset2 
 url: https://54.91.2.63/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: 
 subset2: \demographics\SEX\female 
 relational:
 success: patientcountsubset2
 successvalue: 21210
 expected: pass
