 name: Verify Summ Stats for between operator Functionality 
 url: https://54.224.84.131/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \examination\blood pressure\mean diastolic
 subsetmul1: \laboratory\blood\Lead
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 19
 expected: pass
 subsetValue: 5
 subsetValueHigh: 10
