 name: Verify user can create/save subset combination
 url: https://54.224.84.131/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\RACE\white
 subsetmul1: \laboratory\blood\Lead
 subset2:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 subsetName: tranSMARTV18
