 name: Verify Summary Stats / Search by Sub/ Graphs
 url: https://54.91.2.63/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\RACE\white
 subset3: 
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 searchTerm: Vitamin
 expectedSearchResult: Found 15 results.