 name: Verify Summary Stats for Subset2 
 url: https://34.202.235.238/transmart/login/auth
 authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\RACE\white
 subsetmul1: \demographics\SEX\female
 subset2: \demographics\SEX\female
 relational:
 success: patientcountsubset2
 successvalue: 21210
 expected: pass
