 name: Verify Deleting Functionality
 url: https://grdr.hms.harvard.edu/transmart/login/auth
 authmethod: GOOGLELOGIN
 subset1: \demographics\RACE\white
 subsetmul1: \demographics\SEX\female\
 success: patientcountsubset1