 name: Verify Summary Stats / Search by Sub/ Graphs
 url: https://grdr.hms.harvard.edu/transmart/login/auth
 authmethod: GOOGLELOGIN
 username: atul.sanagar@gmail.com
 password: Krishna!234
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\male\
 subset3: 
 subset2:
 relational:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 searchTerm: Vitamin
 expectedSearchResult: Found 15 results. 