 name: Verify Summary Stats for Subset1 Set value
 url: https://grdr.hms.harvard.edu/transmart/login/auth
 authmethod: GOOGLELOGIN
 username: atul.sanagar@gmail.com
 password: Krishna!234
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \questionnaire\housing\house age
 subset2: \demographics\RACE\mexican
 relational:
 success: patientCountCommon
 successvalue: 6657
 expected: pass
 subsetValue1: 15
 