 name: Verify Summary Stats for Subset1 and Subset2
 url: https://grdr.hms.harvard.edu/transmart/login/auth
 authmethod: GOOGLELOGIN
 username: atul.sanagar@gmail.com
 password: Krishna!234
 test: regression
 type: BasicStatisticsTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\RACE\white
 subset2: \demographics\SEX\female
 relational:
 success: patientCountCommon
 successvalue: 8197 
 expected: pass